#block_countries_form ul.options {
	background: #ddd;
	padding: 10px;
	height: 300px;
	overflow: auto;
}
#block_countries_form ul.options li input {
  margin-right: 2px;
}
#block_countries_form ul.options li {
  float: left;
  width: 240px;
  margin-right: 10px;
}